@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
  --animate-slide-in-right: slide-in-right 0.3s ease-in-out;

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
  @keyframes slide-in-right {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --radius: 0.5rem;
    --ring: 216 34% 17%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer utilities {
  ::selection {
    background-color: #666666;
    color: #fefefe;
  }

  :root {
    --sh-class: #2d5e9d;
    --sh-identifier: #354150;
    --sh-sign: #8996a3;
    --sh-string: #007f7a;
    --sh-keyword: #e02518;
    --sh-comment: #a19595;
    --sh-jsxliterals: #6266d1;
    --sh-property: #e25a1c;
    --sh-entity: #e25a1c;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --sh-class: #4c97f8;
      --sh-identifier: white;
      --sh-keyword: #f47067;
      --sh-string: #0fa295;
    }

    html {
      color-scheme: dark;
    }
  }

  html {
    min-width: 360px;
  }

  .prose .anchor {
    @apply absolute invisible no-underline;

    margin-left: -1em;
    /* margin-top: -0.1em; */
    padding-right: 0.5em;
    width: 80%;
    max-width: 700px;
    cursor: pointer;
  }

  .anchor:hover {
    @apply visible;
  }

  .prose a {
    @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
  }

  .prose .anchor:after {
    @apply text-neutral-300 dark:text-neutral-700;
    content: "#";
  }

  .prose *:hover > .anchor {
    @apply visible;
  }

  .prose pre {
    @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
  }

  .prose code {
    @apply px-1 py-0.5 rounded-lg;
  }

  .prose pre code {
    @apply p-0;
    border: initial;
    line-height: 1.5;
  }

  .prose code span {
    @apply font-medium;
  }

  .prose img {
    /* Don't apply styles to next/image */
    @apply m-0;
  }

  .prose p,
  .prose a:not(.anchor),
  .prose li {
    @apply text-neutral-800 dark:text-neutral-200;
  }

  .prose p,
  .prose a:not(.anchor) {
    @apply my-4;
  }

  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    @apply text-black dark:text-white;
  }

  .prose h1 {
    @apply text-4xl font-medium tracking-tight mt-6 mb-2;
  }

  .prose h2 {
    @apply text-3xl font-medium tracking-tight mt-6 mb-2;
  }

  .prose h3 {
    @apply text-2xl font-medium tracking-tight mt-6 mb-2;
  }

  .prose h4,
  .prose h5,
  .prose h6 {
    @apply text-xl font-medium tracking-tight mt-6 mb-2;
  }

  .prose strong {
    @apply font-medium;
  }

  .prose ul {
    @apply list-disc pl-6;
  }

  .prose ol {
    @apply list-decimal pl-6;
  }

  .prose > :first-child {
    /* Override removing top margin, causing layout shift */
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
  }

  pre::-webkit-scrollbar {
    display: none;
  }

  pre {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  /* Remove Safari input shadow on mobile */
  input[type="text"],
  input[type="email"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
  }

  .title {
    text-wrap: balance;
  }

  /* Component Page */

  section.page {
    @apply px-1
  }

  section.page h1.page-title {
    @apply mb-2 text-2xl font-semibold tracking-tighter;
  }

  section.page p.page-description,
  section.page div.page-description {
    @apply mb-4 text-justify text-neutral-600 dark:text-neutral-300 leading-[1.8];
  }

  /* ul */

  ul.list-decorated > li {
    @apply flex space-x-2 items-center;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    scrollbar-width: none;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
